@import "tailwindcss";

* {
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

.navbar {
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-theme {
  color: #fff;
  background-color: #313843;
}

.dark-theme .navbar {
  background-color: #1f2022;
  border: none;
}